.toggle-switch {
  margin-left: auto;
  min-width: 56px;
  height: 28px;
  border: 1px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  transition: border-color 0.15s linear;
}

.toggle-switch:hover {
  border-color: #000;
}

.toggle-switch:hover .toggle-switch__text_C {
  color: #000;
}

.toggle-switch:hover .toggle-switch__circle {
  left: 0px;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  left: -1px;
  top: -1px;
  transition: left 0.35s linear;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text {
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  top: 7px;
  color: #7e7e7e;
}

.toggle-switch__text_C {
  right: 10px;
  transition: color 0.15s linear;
}

.toggle-switch__text_F {
  left: 10px;
}
