.cards__list {
  display: flex;
  gap: 20px;
}

.card {
  position: relative;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 19px;
}

.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
}
